
<div class="form-group">
<h1 class="text-center">Update Customer</h1>

{{#data}}
<form class="form-content col-sm-4 col-sm-offset-4" action="/customers/update/{{id}}" method="POST">
    <label>Company:</label>
	<input class="form-control" type="text" name="company" value="{{company}}">
    <label>Name: </label>
	<input class="form-control" type="text" name="name" value="{{name}}">	
    <label>Phone Nr:</label>
	<input class="form-control" type="text" name="telephoneNr" value="{{telephoneNr}}">
    <label>Email:</label> 
    <input class="form-control" type="text" name="email" value="{{email}}">
    <label>Products:</label>
    <input class="form-control" type="text" name="products" value="{{products}}">
    <label>Invoice:</label>
    <input class="form-control" type="text" name="invoices" value="{{invoices}}">
    <label>Comments:</label> 
    <textarea type="text" name="comments" value="{{comments}}"></textarea>
	<input type="submit" class="btn btn-warning btn-lg" value="Save"><input action="action" type="submit" class="btn btn-warning btn-lg" value="Cancel" onclick="history.go(-1);"/>
</form>
{{/data}}