<h1 class="text-center">Update Customer</h1>
<div class="form-group">
{{#data}}
<form  action="/customers/update/{{id}}" action='upload' enctype="multipart/form-data"method="POST">
    <label>Company:</label>
	<input type="text" name="company" value="{{company}}">
    <label>Name: </label>
	<input type="text" name="name" value="{{name}}">	
    <label>Phone Nr:</label>
	<input type="text" name="telephoneNr" value="{{telephoneNr}}">
    <label>Email:</label> 
    <input class="form-control" type="text" name="email" value="{{email}}">
    <label>Products:</label>
    <input  type="text" name="products" value="{{products}}">
    <label><a href="/file">Invoice:</a></label>
    <input type="text" name="invoices" value="{{invoices}}">
    <label>Calendar:</label>
    <input  type="date" name="date" value="{{end_date}}">
    <label>Note:</label>
    <input  type="text" name="note" value="{{note}}">
    <label>Comments:</label> 
    <textarea type="text" name="comments" value="{{comments}}"></textarea><br>
    <input type='file' name='fileUploaded'>
	<input type="submit" class="btn btn-warning btn-lg" value="Save"><input action="action" type="submit" class="btn btn-warning btn-lg" value="Cancel" onclick="history.go(-1);"/>
</form>
{{/data}}


<!--form method='post' action='upload' enctype="multipart/form-data">
        <input type='file' name='fileUploaded'>
       <input type='submit'>
</form-->